In [5]:
var=set()      #empty set
print(type(var))

<class 'set'>

In [6]:
var={10,12,'rishi',True}
print(type(var))

<class 'set'>

In [8]:
var={10,12,'rishi',True}             #insertion order is not preserved
print(type(var))                     #indexing and slicing do not work in SET
print(var)

<class 'set'>
{'rishi', True, 10, 12}

In [9]:
#heterogeneous elements are allowed in SET--- integer,float,string,boolean etc

In [10]:
#duplicate values are not allowed

In [12]:
var={10,12,'rishi',True,'rishi',True,10,1,2,3,4}
print(var)                          # will keep only unique values or elements

{'rishi', True, 2, 3, 4, 10, 12}

In [15]:
var={10,12,'rishi',True}
var.add("Learn coding")             # SET is mutable, we can add the unique elements in the set
print(var)

{True, 10, 12, 'Learn coding', 'rishi'}

In [18]:
var={10,12,'rishi',True}
var.add("Learn coding")              # SET is mutable, we can add the unique elements in the set
var.add("rishu")
print(var)

{True, 10, 12, 'Learn coding', 'rishi', 'rishu'}

In [19]:
#update method

In [21]:
var={10,12,'rishi',True}
var.update(["Learn coding",'Rakhi'])             # SET is mutable, we can update the unique elements in the set.
print(var)                                       #use [] brackets to add 2 or more than 2 elements in the SET

{True, 10, 12, 'Learn coding', 'Rakhi', 'rishi'}

In [22]:
#pop()

In [25]:
var={10,12,'rishi',True,'rishi',True,10,1,2,3,4}
print(var.pop())                                 #delete the element
print(var)

rishi
{True, 2, 3, 4, 10, 12}

In [26]:
#remove()

In [28]:
var={10,12,'rishi',True,'rishi',True,10,1,2,3,4}
var.remove(10)                                  #remove the desired element from the SET
print(var)

{'rishi', True, 2, 3, 4, 12}

In [29]:
#clear()

In [31]:
var={10,12,'rishi',True,'rishi',True,10,1,2,3,4}
var.clear()                                    #cleared all the SET elements, now my SET is empty
print(var)

set()

In [38]:
#mathematical operation-- union method

In [44]:
var={10,12,'rishi',True,10,1,2,3,4}
var2={10,12,'rishi',False,'khushi',True,1,2,3,4}                         
print(var.union(var2))                        # union will print the unique elements from the two sets
print(var | var2)                             # | operator acts as a union

{False, True, 2, 3, 4, 10, 12, 'khushi', 'rishi'}
{False, True, 2, 3, 4, 10, 12, 'khushi', 'rishi'}

In [37]:
#intersection method --common values

In [42]:
var={10,12,'rishi',True,10,1,2,3,4}
var2={10,12,'rishi',False,'khushi',True,1,2,3,4}                         
print(var.intersection(var2))                 # intersection will print the common values
print(var & var2)                             # & operator acts as intersection

{True, 2, 3, 4, 10, 12, 'rishi'}
{True, 2, 3, 4, 10, 12, 'rishi'}

In [45]:
# difference method

In [51]:
var={10,12,'rishi',True,10,1,2,3,4,100,'act'}
var2={10,12,'rishi',False,'khushi',True,1,2,3,4,}                         
print(var.difference(var2))                   #will print the difference between two sets
print(var-var2)

{'act', 100}
{'act', 100}

In [53]:
var={10,12,'rishi',True,10,1,2,3,4}
var2={10,12,'rishi',False,'khushi',True,1,2,3,4}                         
print(var.symmetric_difference(var2))

{False, 'khushi'}